 .container {
     width: 400px;
     height: 400px;
     border: 2px solid black;
     position: relative;
     margin-bottom: 200px;
 }

 .box {
     width: 150px;
     height: 150px;
     background: lightblue;
     margin: 10px;
     display: inline-block;
 }

 .relative {
     position: relative;
     left: 20px;
     top: 20px;
     background: lightgreen;
 }

 .absolute {
     position: absolute;
     bottom: 0;
     right: 0;
     background: orange;
 }

 .fixed {
     position: fixed;
     bottom: 0;
     left: 0;
     background: pink;
 }