 nav {
     background: #222;
     padding: 15px;
 }

 nav ul {
     list-style: none;
     display: flex;
     gap: 25px;
 }

 nav ul li a {
     text-decoration: none;


     font-family: "Poppins", Arial, sans-serif;

     font-size: 18px;

     font-weight: 600;

     letter-spacing: 1px;


     color: #fff;

     transition: 0.3s;
 }


 nav ul li a:hover {
     color: #ff9800;

 }


 nav ul li a:visited {
     color: #9c27b0;

 }