  <style>.box {
      width: 250px;
      background-color: #f2f2f2;
      margin-bottom: 20px;
  }

  .box1 {
      margin: 20px;
      padding: 15px;
      border: 3px solid #ff5733;
  }

  .box2 {
      margin: 30px;
      padding: 25px;
      border: 4px dashed #3498db;
  }

  .box3 {
      margin: 40px;
      padding: 35px;
      border: 5px dotted #27ae60;
  }

  </style>